* {
  box-sizing: border-box;
}
body {
  background-color: dodgerblue;
  text-align: center;
  margin: auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Stardos Stencil', cursive;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.rules {
  font-family: 'Stardos Stencil', cursive;
  font-size: 20px;
  text-decoration: underline;
  border: none;
  background-color: dodgerblue;
  margin: 0 auto 10px auto;
}

p {
  display: none;
  margin-bottom: 20px;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
}

.containerPlayer {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.container > div {
  width: 10%;
  height: 10%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.containerPlayer > div {
  width: 10%;
  height: 10%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.ship {
  background-color: grey
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}
